:host {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

lib-wizard-body {
    min-height: 0;
}

.location-btn {
    margin-bottom: 8px;
}

.subtitle {
	color: var(--muted, #888);
	font-size: 16px;
	line-height: 1.4;
    margin-top:0 ;
}

lib-option-group {
    overflow-y: auto;
    flex: 1;
    min-height: 0;
}