.map {
    width: 100lvw;
    height: 100lvh;
    margin-top: -48px;
    margin-left: -24px;
}
.map::ng-deep {
    .maplibregl-ctrl {
        display: none;
    }
}

.sheet-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0;
    overflow-y: auto;
}